<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>BlacktipAPI</servlet-name>
		<servlet-class>com.blacktipreef.api.BlacktipAPIServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BlacktipAPI</servlet-name>
		<url-pattern>/blacktipapi</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
        <servlet-name>readconfig</servlet-name>
        <servlet-class>com.blacktipreef.config.ReadConfigServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>readconfig</servlet-name>
        <url-pattern>/readconfig</url-pattern>
    </servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>TankMeasurement</servlet-name>
		<servlet-class>com.blacktipreef.api.TankMeasurementServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TankMeasurement</servlet-name>
		<url-pattern>/tankmeasurement</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SendText</servlet-name>
		<servlet-class>com.blacktipreef.api.SendTextServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendText</servlet-name>
		<url-pattern>/sendtext</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>AllTankConfigs</servlet-name>
		<servlet-class>com.blacktipreef.api.AllTankConfigsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllTankConfigs</servlet-name>
		<url-pattern>/alltankconfigs</url-pattern>
	</servlet-mapping>
	
    <servlet>
        <servlet-name>sign</servlet-name>
        <servlet-class>com.example.guestbook.SignGuestbookServlet</servlet-class>
    </servlet>
       <servlet-mapping>
        <servlet-name>sign</servlet-name>
        <url-pattern>/sign</url-pattern>
    </servlet-mapping>	
	
	
	
	<servlet>
        <servlet-name>blacktip</servlet-name>
        <servlet-class>com.blacktipreef.blacktip.BlacktipServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>blacktip</servlet-name>
        <url-pattern>/blacktip</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>submittank</servlet-name>
        <servlet-class>com.blacktipreef.blacktip.SubmitTankServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>submittank</servlet-name>
        <url-pattern>/submittank</url-pattern>
    </servlet-mapping>

	<welcome-file-list>
		<welcome-file>sampleApp.html</welcome-file>
	</welcome-file-list>
    
    
    	
	<!--welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list-->
</web-app>
